name: Daily RS CSV Update

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  update_csv:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0   # required for proper pushing

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install pandas numpy yfinance

    - name: Run main script
      run: python main.py

    - name: Commit changes
      run: |
        git config --global user.name "mahidhar1999"
        git config --global user.email "mahidhar1999@gmail.com"
        git add all_stocks_raw.csv all_stocks_filtered.csv || true
        git commit -m "Auto-update CSVs" || echo "No changes"

    - name: Push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
